<div class="wrap" style="background: url('https://images5.alphacoders.com/926/thumb-1920-926735.jpg') no-repeat;"></div>
<div class="container center">
<h1>Dying Light 2 news</h1>
<div class="row">
{{#each newsArr}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/ldvvNF1PCEY/maxresdefault.jpg">
          <span class="card-title purple darken-4">{{this.title}}</span>
        </div>
        <div class="card-content">
          {{this.contents}}
        </div>
        <div class="card-action">
          <script>
            function EpochToHuman(){
	            const datum = new Date({{this.date}} * 1000);
	            {{!-- alert(datum.toLocaleString()); --}}
              }
            EpochToHuman()
          </script>
          <a href="{{this.url}}">{{this.feedname}}</a>
          <time datetime="{{this.date}}">{{this.date}}</time>          
        </div>
      </div>
    </div>
{{/each}}
</div>
</div>
